body {
  margin: 0;
  padding: 0;
  background: conic-gradient(at right center, rgb(199, 210, 254), rgb(71, 85, 105), rgb(199, 210, 254));
  color: #000000;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

#root{
  margin: 0 24px;
  position: relative;
  min-height: 100vh;
}

